<!-- <h1>Bienvenido a nuestra aplicación</h1>
<p>Inicia sesión o regístrate para comenzar.</p>

<%= link_to 'Acerca de', about_path, class: 'about' %> |
<%= link_to 'Contacto', contact_path, class: 'contact' %> -->


    <!-- Header -->

      <header class="navbar" id="navbar">
        <div class="menu-navbar">
            <a href="#" class="logo-click">
              <%= image_tag 'logos/logo-all-in-one.webp', alt: 'Logo', class: "logo" %>
            </a>
            <div class="navbar-section">
              <nav class="menu">
                <%= link_to '#home', class: 'list-item' do %>
                  <i class='bx bx-home-alt-2'></i>
                <% end %>

                <%= link_to '#chat', class: 'list-item' do %>
                  <i class='bx bx-chat'></i>
                <% end %>

                <%= link_to '#rocket', class: 'list-item' do %>
                  <i class='bx bx-rocket'></i>
                <% end %>

                <%= link_to '#station', class: 'list-item' do %>
                  <i class='bx bx-station'></i>
                <% end %>

                <%= link_to '#help', class: 'list-item' do %>
                  <i class='bx bx-help-circle'></i>
                <% end %>
              </nav>
                <%= link_to 'Registrarse', new_user_registration_path, class: 'cta-register' %>
              </div>
        </div>
    </header>

    <!-- Main Container -->

    <main class="main-container">

    <!-- HeroSection -->

    <section class="container-hero-section">
        <div class="hero-section">
            <section class="section-hero-section">
                <div class="banner" data-aos="fade-right">
                    <h1 class="title">Add messaging and live chat to your website or mobile app,
                    <span class="subtitle">and leverage customer presence on social channels</span></h1>
                    <div class="cta">
                      <%= link_to 'Iniciar sesión', new_user_session_path, class: 'cta-start' %>
                      <%= link_to 'Registrarse', new_user_registration_path, class: 'cta-register' %>
                    </div>
                    <div class="social-media">
                      <%= link_to 'https://es-la.facebook.com/', target: '_blank' do %>
                        <i class="bx bxl-facebook-circle"></i>
                      <% end %>

                      <%= link_to 'https://www.instagram.com/', target: '_blank' do %>
                        <i class="bx bxl-instagram-alt"></i>
                      <% end %>

                      <%= link_to 'https://www.youtube.com/', target: '_blank' do %>
                        <i class="bx bxl-youtube"></i>
                      <% end %>

                      <%= link_to 'https://twitter.com/?lang=es', target: '_blank' do %>
                        <i class="bx bxl-twitter"></i>
                      <% end %>
                    </div>
                </div>
                <%= image_tag 'illustrations/laptop.webp', alt: 'Laptop', class: 'laptop', data: { aos: 'fade-left' } %>

            </section>
        </div>
        <%= link_to '#', class: 'arrow' do %>
          <i class='bx bx-up-arrow-circle bx-tada bx-flip-vertical' style="font-size:50px; color:white; position:fixed; right:30px; bottom: 30px; z-index:100;"></i>
        <% end %>
        <%= link_to 'https://web.whatsapp.com/', target: '_blank', class: 'arrow' do %>
          <%= image_tag 'icons/whatsapp.svg', class: 'whatsapp-logo', style: 'width:43px; position:fixed; left:30px; bottom:30px; z-index:100;' %>
        <% end %>
    </section>

      <!-- Section Services -->

      <section class="section-services" id="home">
        <section class="section-wrap">
            <h2 class="subtitle">Nuestros servicios</h2>
            <div class="cards-services" data-aos="fade-up">
                <section class="services">
                  <%= image_tag 'icons/flaticon-1.svg', alt: "Iconos", class: 'item-services' %>
                  <h4 class="title-card">Administrar</h4>
                </section>
                <section class="services">
                  <%= image_tag 'icons/flaticon-2.svg', alt: "Iconos", class: 'item-services' %>
                  <h4 class="title-card">Mantener</h4>
                </section>
                <section class="services">
                  <%= image_tag 'icons/flaticon-3.svg', alt: "Iconos", class: 'item-services' %>
                  <h4 class="title-card">Privacidad</h4>
                </section>
                <section class="services">
                  <%= image_tag 'icons/flaticon-4.svg', alt: "Iconos", class: 'item-services' %>
                  <h4 class="title-card">Seguridad</h4>
                </section>
                <section class="services">
                  <%= image_tag 'icons/flaticon-5.svg', alt: "Iconos", class: 'item-services' %>
                  <h4 class="title-card">Red global</h4>
                </section>
                <section class="services">
                  <%= image_tag 'icons/flaticon-6.svg', alt: "Iconos", class: 'item-services' %>
                  <h4 class="title-card">Confidencialidad</h4>
                </section>
            </div>
        </section>
    </section>

    <!-- Section Profile Cards -->

    <section class="section-cards-profiles" id="chat">
      <section class="section-wrap">
          <h2 class="subtitle"><span>All In One</span> es para <span>todos</span></h2>
          <div class="cards-clients" data-aos="fade-down">
              <div class="card">
                  <figure>
                    <%= image_tag 'avatars/pic-woman-1.webp', alt: "Perfiles", class: 'services' %>
                  </figure>
                  <div class="text">
                      <h3>Conexiones</h3>
                      <p>"<span>AllinOne</span>, administra todas tus redes y contactos de manera eficiente con herramientas personalizadas y recomendaciones."</p>
                      <a href="#" class="plan">Plan premium ></a>
                  </div>
                  <%= image_tag 'icons/flaticon-7.svg', alt: "Icono", class: 'flaticon' %>
              </div>
              <div class="card">
                  <figure>
                    <%= image_tag 'avatars/pic-woman-2.webp', alt: "Perfiles", class: 'services' %>
                  </figure>
                  <div class="text">
                      <h3>Estudiantes</h3>
                      <p>"<span>AllinOne</span>, te ayuda a gestionar tus conexiones y chats con compañeros y amigos, ofreciéndote herramientas útiles y recomendaciones para tu perfil."</p>
                      <a href="#" class="plan">Plan personal ></a>
                  </div>
                  <%= image_tag 'icons/flaticon-8.svg', alt: "Icono", class: 'flaticon' %>
              </div>
              <div class="card">
                  <figure>
                    <%= image_tag 'avatars/pic-man-1.webp', alt: "Perfiles", class: 'services' %>
                  </figure>
                  <div class="text">
                      <h3>Empresarios</h3>
                      <p>"<span>AllinOne</span>, optimiza tu red profesional con herramientas avanzadas y recomendaciones personalizadas para gestionar chats y contactos de manera eficiente."</p>
                      <a href="#" class="plan">Plan premium ></a>
                  </div>
                  <%= image_tag 'icons/flaticon-9.svg', alt: "Icono", class: 'flaticon' %>
              </div>
              <div class="card">
                  <figure>
                    <%= image_tag 'avatars/pic-man-2.webp', alt: "Perfiles", class: 'services' %>
                  </figure>
                  <div class="text">
                      <h3>Familiares</h3>
                      <p>"<span>AllinOne</span>, facilita la conexión con tus seres queridos, brindándote herramientas para administrar chats y mantener tu perfil organizado y actualizado."</p>
                      <a href="#" class="plan">Plan personal ></a>
                  </div>
                  <%= image_tag 'icons/flaticon-10.svg', alt: "Icono", class: 'flaticon' %>
              </div>
          </div>
      </section>
  </section>

    <!-- Section Ball 1 -->

    <section class="ball-pink-1"></section>

    <!-- Section Social Chat -->

    <section class="section-passwords-free" id="rocket">
        <section class="section-wrap cellphones-chat">
            <section class="titles">
                <h2 class="subtitle"><span>Chat social!!!</span></h2>
                <div class="info">
                    <h3 class="subtitle-content">Crea <span>Gratis</span> tu perfil y prueba nuestro <span>chat social</h3>
                    <p>Desde donde te encuentres disfruta de la privacidad de tus conversaciones privadas y grupales</p>
                </div>
            </section>
            <figure class="cellphone-img" data-aos="fade-up">
              <%= image_tag 'illustrations/cellphones.webp', alt: 'Cellphones', class: "cellphones" %>
            </figure>
            <%= link_to 'Crea tu perfil', new_user_registration_path, class: 'passwords-cta' %>
          </section>
    </section>

     <!-- Section Plan -->

    <section class="section-plan">
      <section class="section-wrap">
          <h2 class="subtitle">Adquiere <span>Ya tu plan!!!</span></h2>
          <div class="cards">
              <div class="card-personal" data-aos="fade-left">
                  <h3>Personal All In One</h3>
                  <%= image_tag 'icons/flaticon-2.svg', alt: 'Plans', class: "services-img" %>

                  <div class="article-text">
                      <div class="article">
                        <%= image_tag 'icons/check-list-favicon.svg', alt: 'Plans', class: "services" %>
                        <p>Optimización de Conexiones</p>
                      </div>
                      <div class="article">
                        <%= image_tag 'icons/check-list-favicon.svg', alt: 'Plans', class: "services" %>
                          <p>Soporte Prioritario</p>
                      </div>
                      <div class="article">
                        <%= image_tag 'icons/check-list-favicon.svg', alt: 'Plans', class: "services" %>
                          <p>Actualizaciones Exclusivas</p>
                      </div>
                      <div class="article">
                        <%= image_tag 'icons/cancel-list-favicon.svg', alt: 'Plans', class: "services" %>
                          <p>Crea tus propias categorias</p>
                      </div>
                      <div class="article">
                        <%= image_tag 'icons/cancel-list-favicon.svg', alt: 'Plans', class: "services" %>
                          <p>Crea y administra sus grupos</p>
                      </div>
                  </div>

                  <!-- Corregir ruta luego -->

                  <%= link_to 'Registrarse', new_user_registration_path, class: 'cta-personal-plan' %>
                </div>

              <div class="card-premium" data-aos="fade-right">
                  <h3>Profesional All In One</h3>
                  <%= image_tag 'icons/flaticon-10.svg', alt: 'Plans', class: "services-img" %>

                  <div class="article-text">
                      <div class="article">
                        <%= image_tag 'icons/check-list-favicon.svg', alt: 'Plans', class: "services" %>
                          <p>Optimización de Conexiones</p>
                      </div>
                      <div class="article">
                        <%= image_tag 'icons/check-list-favicon.svg', alt: 'Plans', class: "services" %>
                          <p>Soporte Prioritario</p>
                      </div>
                      <div class="article">
                        <%= image_tag 'icons/check-list-favicon.svg', alt: 'Plans', class: "services" %>
                          <p>Actualizaciones Exclusivas</p>
                      </div>
                      <div class="article">
                        <%= image_tag 'icons/check-list-favicon.svg', alt: 'Plans', class: "services" %>
                          <p>Crea tus propias categorias</p>
                      </div>
                      <div class="article">
                        <%= image_tag 'icons/check-list-favicon.svg', alt: 'Plans', class: "services" %>
                          <p>Crea y administra sus grupos</p>
                      </div>
                    </div>

                  <!-- Corregir ruta luego -->

                  <%= link_to 'Registrarse', new_user_registration_path, class: 'cta-premium-plan' %>
                </div>
          </div>
      </section>
    </section>

     <!-- Section Testimonies -->

     <section class="section-testimonies" id="station">
      <section class="section-wrap">
          <h2 class="subtitle">Testimonios</h2>
          <div class="cards-testimonies" data-aos="fade-up">
              <div class="card cards-1">
                  <div class="text-1">
                    <%= image_tag 'avatars/testimony-1.svg', alt: 'Avatars', class: "avatar" %>
                    <h3>Jacob Jones</h3>
                  </div>
                  <div class="text-2">
                      <p>¡Esta app es muy útil! La uso constantemente para llevar todas mis chats sociales y empresariales!</p>
                      <%= image_tag 'illustrations/rating.webp', alt: 'Rating', class: "rating-stars" %>
                  </div>
              </div>
              <div class="card cards-2">
                  <div class="text-1">
                    <%= image_tag 'avatars/testimony-2.svg', alt: 'Avatars', class: "avatar" %>
                      <h3>Devon Lane</h3>
                  </div>
                  <div class="text-2">
                      <p>Sinceramente, no podría vivir sin esta aplicación.</p>
                      <%= image_tag 'illustrations/rating.webp', alt: 'Rating', class: "rating-stars" %>
                  </div>
              </div>
              <div class="card cards-3">
                  <div class="text-1">
                    <%= image_tag 'avatars/testimony-3.svg', alt: 'Avatars', class: "avatar" %>
                      <h3>Darrell Steward</h3>
                  </div>
                  <div class="text-2">
                      <p>Soy  bastante exigente y esta aplicación ha superado mis expectativas en todos los niveles.</p>
                      <%= image_tag 'illustrations/rating.webp', alt: 'Rating', class: "rating-stars" %>
                  </div>
              </div>
              <div class="card cards-4">
                  <div class="text-1">
                    <%= image_tag 'avatars/testimony-4.svg', alt: 'Avatars', class: "avatar" %>
                      <h3>Jane Cooper</h3>
                  </div>
                  <div class="text-2">
                      <p>Adoro esta aplicación, de verdad.</p>
                      <%= image_tag 'illustrations/rating.webp', alt: 'Rating', class: "rating-stars" %>
                  </div>
              </div>
              <div class="card cards-5">
                  <div class="text-1">
                    <%= image_tag 'avatars/testimony-5.svg', alt: 'Avatars', class: "avatar" %>
                      <h3>Leslie Alexander</h3>
                  </div>
                  <div class="text-2">
                      <p>Hacen que mi vida sea más fácil comunicando con mi familia y amigos.</p>
                      <%= image_tag 'illustrations/rating.webp', alt: 'Rating', class: "rating-stars" %>
                  </div>
              </div>
          </div>
      </section>
  </section>

   <!-- Section Sponsor -->

   <section class="section-sponsor">
    <section class="section-wrap-row">
        <h2 class="subtitle">Empresas que <span>confian</span> en <span>nosotros</span></h2>
        <div class="slider-sponsor">
            <marquee class="slider-sponsor-right" direction="left" loop="infinite" scrollamount="3">
              <%= image_tag 'illustrations/sponsor-1.webp', alt: 'Sponsor', class: "sponsor" %>
              <%= image_tag 'illustrations/sponsor-2.webp', alt: 'Sponsor', class: "sponsor" %>
              <%= image_tag 'illustrations/sponsor-3.webp', alt: 'Sponsor', class: "sponsor" %>
              <%= image_tag 'illustrations/sponsor-4.webp', alt: 'Sponsor', class: "sponsor" %>
              <%= image_tag 'illustrations/sponsor-5.webp', alt: 'Sponsor', class: "sponsor" %>
              <%= image_tag 'illustrations/sponsor-6.webp', alt: 'Sponsor', class: "sponsor" %>
            </marquee>
            <marquee class="slider-sponsor-left" direction="right" loop="infinite" scrollamount="3">
              <%= image_tag 'illustrations/sponsor-7.webp', alt: 'Sponsor', class: "sponsor" %>
              <%= image_tag 'illustrations/sponsor-8.webp', alt: 'Sponsor', class: "sponsor" %>
              <%= image_tag 'illustrations/sponsor-9.webp', alt: 'Sponsor', class: "sponsor" %>
              <%= image_tag 'illustrations/sponsor-10.webp', alt: 'Sponsor', class: "sponsor" %>
              <%= image_tag 'illustrations/sponsor-11.webp', alt: 'Sponsor', class: "sponsor" %>
              <%= image_tag 'illustrations/sponsor-12.webp', alt: 'Sponsor', class: "sponsor" %>
            </marquee>
        </div>
    </section>
</section>

</main>

  <!-- Footer -->

  <footer class="footer-container">
    <section class="section-wrap">
        <div class="footer">
            <section class="column-1-footer">
              <a href="#" class="logo-click">
                <%= image_tag 'logos/logo-all-in-one.webp', alt: 'Logo', class: "logo" %>
              </a>
                <div class="column-social-media">
                    <p>Medellin | Colombia</p>
                    <div class="social-media">
                      <%= link_to 'https://es-la.facebook.com/', target: '_blank' do %>
                        <i class="bx bxl-facebook-circle"></i>
                      <% end %>

                      <%= link_to 'https://www.instagram.com/', target: '_blank' do %>
                        <i class="bx bxl-instagram-alt"></i>
                      <% end %>

                      <%= link_to 'https://www.youtube.com/', target: '_blank' do %>
                        <i class="bx bxl-youtube"></i>
                      <% end %>

                      <%= link_to 'https://twitter.com/?lang=es', target: '_blank' do %>
                        <i class="bx bxl-twitter"></i>
                      <% end %>
                    </div>
                </div>
            </section>
            <section class="column-2-footer">
                <h4>Conectate con All In One</h4>
                <nav class="connect-all-in-one">
                    <ul>
                        <li><a href="" class="item">Soporte al cliente</a></li>
                        <li><a href="" class="item">Politica de privacidad</a></li>
                        <li><a href="" class="item">Terminos y condiciones</a></li>
                        <li><a href="" class="item">Servicios externos</a></li>
                    </ul>
                </nav>
            </section>
            <section class="column-3-footer">
                <h4>Acerca de All In One</h4>
                <nav class="about-all-in-one">
                    <ul>
                        <li><a href="" class="item">Que es All In One</a></li>
                        <li><a href="" class="item">Nuestra identidad</a></li>
                        <li><a href="" class="item">Marca y logotipo</a></li>
                        <li><a href="" class="item">Mision y vision</a></li>
                    </ul>
                </nav>
            </section>
        </div>
        <p class="made-by">- Hecho con <span> ❤ </span>  por Diego Marin | 2023 | Colombia - Canada -</p>
    </section>
  </footer>
