<!-- <h1>Bienvenido a nuestra aplicación</h1>
<p>Inicia sesión o regístrate para comenzar.</p>

<%= link_to 'Acerca de', about_path, class: 'about' %> |
<%= link_to 'Contacto', contact_path, class: 'contact' %> -->


    <!-- Header -->

      <header class="navbar" id="navbar">
        <div class="menu-navbar">
            <a href="" class="logo-click">
              <%= image_tag 'logos/logo-all-in-one.webp', alt: 'Logo', class: "logo" %>
            </a>
            <div class="navbar-section">
              <nav class="menu">
                <%= link_to '#home', class: 'list-item' do %>
                  <i class='bx bx-home-alt-2'></i>
                <% end %>

                <%= link_to '#chat', class: 'list-item' do %>
                  <i class='bx bx-chat'></i>
                <% end %>

                <%= link_to '#rocket', class: 'list-item' do %>
                  <i class='bx bx-rocket'></i>
                <% end %>

                <%= link_to '#station', class: 'list-item' do %>
                  <i class='bx bx-station'></i>
                <% end %>

                <%= link_to '#help', class: 'list-item' do %>
                  <i class='bx bx-help-circle'></i>
                <% end %>
              </nav>
                <%= link_to 'Registrarse', new_user_registration_path, class: 'cta-register' %>
              </div>
        </div>
    </header>

    <!-- Main Container -->

    <main class="main-container">

    <!-- HeroSection -->

    <section class="container-hero-section">
        <div class="hero-section">
            <section class="section-hero-section">
                <div class="banner" data-aos="fade-right">
                    <h1 class="title">Add messaging and live chat to your website or mobile app,
                    <span class="subtitle">and leverage customer presence on social channels</span></h1>
                    <div class="cta">
                      <%= link_to 'Iniciar sesión', new_user_session_path, class: 'cta-start' %>
                      <%= link_to 'Registrarse', new_user_registration_path, class: 'cta-register' %>
                    </div>
                    <div class="social-media">
                      <%= link_to 'https://es-la.facebook.com/', target: '_blank' do %>
                        <i class="bx bxl-facebook-circle"></i>
                      <% end %>

                      <%= link_to 'https://www.instagram.com/', target: '_blank' do %>
                        <i class="bx bxl-instagram-alt"></i>
                      <% end %>

                      <%= link_to 'https://www.youtube.com/', target: '_blank' do %>
                        <i class="bx bxl-youtube"></i>
                      <% end %>

                      <%= link_to 'https://twitter.com/?lang=es', target: '_blank' do %>
                        <i class="bx bxl-twitter"></i>
                      <% end %>
                    </div>

                </div>
                <%= image_tag 'illustrations/laptop.webp', alt: 'Laptop', class: 'laptop', data: { aos: 'fade-left' } %>

            </section>
        </div>
        <%= link_to '#', class: 'arrow' do %>
          <i class='bx bx-up-arrow-circle bx-tada bx-flip-vertical' style="font-size:50px; color:white; position:fixed; right:30px; bottom: 30px; z-index:100;"></i>
        <% end %>
        <%= link_to 'https://web.whatsapp.com/', target: '_blank', class: 'arrow' do %>
          <%= image_tag 'icons/whatsapp.svg', class: 'whatsapp-logo', style: 'width:43px; position:fixed; left:30px; bottom:30px; z-index:100;' %>
        <% end %>
    </section>

      <!-- Section Services -->

      <section class="section-services" id="home">
        <section class="section-wrap">
            <h2 class="subtitle">Nuestros servicios</h2>
            <div class="cards-services" data-aos="fade-up">
                <section class="services">
                  <%= image_tag 'icons/flaticon-1.svg', alt: "Iconos", class: 'item-services' %>
                  <h4 class="title-card">Administrar</h4>
                </section>
                <section class="services">
                  <%= image_tag 'icons/flaticon-2.svg', alt: "Iconos", class: 'item-services' %>
                  <h4 class="title-card">Mantener</h4>
                </section>
                <section class="services">
                  <%= image_tag 'icons/flaticon-3.svg', alt: "Iconos", class: 'item-services' %>
                  <h4 class="title-card">Privacidad</h4>
                </section>
                <section class="services">
                  <%= image_tag 'icons/flaticon-4.svg', alt: "Iconos", class: 'item-services' %>
                  <h4 class="title-card">Seguridad</h4>
                </section>
                <section class="services">
                  <%= image_tag 'icons/flaticon-5.svg', alt: "Iconos", class: 'item-services' %>
                  <h4 class="title-card">Red global</h4>
                </section>
                <section class="services">
                  <%= image_tag 'icons/flaticon-6.svg', alt: "Iconos", class: 'item-services' %>
                  <h4 class="title-card">Confidencialidad</h4>
                </section>
            </div>
        </section>
    </section>

    <!-- Section Profile Cards -->

    <section class="section-cards-profiles" id="chat">
      <section class="section-wrap">
          <h2 class="subtitle"><span>All In One</span> es para <span>todos</span></h2>
          <div class="cards-clients" data-aos="fade-down">
              <div class="card">
                  <figure>
                    <%= image_tag 'avatars/pic-woman-1.webp', alt: "Perfiles", class: 'services' %>
                  </figure>
                  <div class="text">
                      <h3>Conexiones</h3>
                      <p>"<span>AllinOne</span>, administra todas tus redes y contactos de manera eficiente con herramientas personalizadas y recomendaciones."</p>
                      <a href="#" class="plan">Plan premium ></a>
                  </div>
                  <%= image_tag 'icons/flaticon-7.svg', alt: "Icono", class: 'flaticon' %>
              </div>
              <div class="card">
                  <figure>
                    <%= image_tag 'avatars/pic-woman-2.webp', alt: "Perfiles", class: 'services' %>
                  </figure>
                  <div class="text">
                      <h3>Estudiantes</h3>
                      <p>"<span>AllinOne</span>, te ayuda a gestionar tus conexiones y chats con compañeros y amigos, ofreciéndote herramientas útiles y recomendaciones para tu perfil."</p>
                      <a href="#" class="plan">Plan personal ></a>
                  </div>
                  <%= image_tag 'icons/flaticon-8.svg', alt: "Icono", class: 'flaticon' %>
              </div>
              <div class="card">
                  <figure>
                    <%= image_tag 'avatars/pic-man-1.webp', alt: "Perfiles", class: 'services' %>
                  </figure>
                  <div class="text">
                      <h3>Empresarios</h3>
                      <p>"<span>AllinOne</span>, optimiza tu red profesional con herramientas avanzadas y recomendaciones personalizadas para gestionar chats y contactos de manera eficiente."</p>
                      <a href="#" class="plan">Plan premium ></a>
                  </div>
                  <%= image_tag 'icons/flaticon-9.svg', alt: "Icono", class: 'flaticon' %>
              </div>
              <div class="card">
                  <figure>
                    <%= image_tag 'avatars/pic-man-2.webp', alt: "Perfiles", class: 'services' %>
                  </figure>
                  <div class="text">
                      <h3>Familiares</h3>
                      <p>"<span>AllinOne</span>, facilita la conexión con tus seres queridos, brindándote herramientas para administrar chats y mantener tu perfil organizado y actualizado."</p>
                      <a href="#" class="plan">Plan personal ></a>
                  </div>
                  <%= image_tag 'icons/flaticon-10.svg', alt: "Icono", class: 'flaticon' %>
              </div>
          </div>
      </section>
  </section>

</main>
